name: publish assets

on:
  workflow_dispatch:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Run build script
        run: python build.py

      - name: Read metadata and create matrix
        id: set-matrix
        run: |
          VERSION=$(jq -r '.version' build-data.json)
          MATRIX=$(jq -c '.' build/$VERSION/metadata.json)
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT
          echo "$MATRIX"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: built-assets
          path: build/

  process-assets:
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        asset: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v6

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: built-assets
          path: build/
      - name: changelog to file
        run: ${{ join(matrix.asset.changelog, '\n') }} > changelog.md
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: changelog-{{ matrix.asset.version_id }}
          path: build/

      # - name: release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     files: "${{ matrix.asset.path }}"
      #     body_path: "changelog.md"
      #     target_commitish: ${{ matrix.branch }}
      #     name: ${{ steps.meta.outputs.mod_name }}
      #     tag_name: ${{ steps.meta.outputs.mod_version}}