name: publish assets

on:
  workflow_dispatch:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Run build script
        run: python build.py

      - name: Read metadata and create matrix
        id: set-matrix
        run: |
          MATRIX=$(jq -c '.version_list' build/metadata.json)
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: built-assets
          path: build/

  process-assets:
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        version: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v6

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: built-assets
          path: build/
      - name: read metadata.json
        id: meta
        run: |
          JSON_FILE="build/metadata.json"
          echo "mc_version=$(jq -r '.mc_versions' "$JSON_FILE")" >> $GITHUB_OUTPUT
          
          jq -r '.changelog[]' "$JSON_FILE" > changelog.md
          
          VERSION_JSON=$(jq -r ".versions.\"${{ matrix.version }}\"" "$JSON_FILE")
          
          echo "id=$(jq -r '.["version-id"]' <<< "$VERSION_JSON")" >> $GITHUB_OUTPUT
          echo "name=$(jq -r '.name' <<< "$VERSION_JSON")" >> $GITHUB_OUTPUT
          echo "path=$(jq -r '.path' <<< "$VERSION_JSON")" >> $GITHUB_OUTPUT
      - name: release
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: 9LkpbDXl
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-featured: false

          curseforge-id: 623663
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: ${{ steps.meta.outputs.path }}
          changelog-file: "changelog.md"

          name: "${{ steps.meta.outputs.name }}"
          version: "${{ steps.meta.outputs.id}}"
          version-type: "release"

          loaders: "${{ steps.meta.outputs.forge_loaders}}"
          game-versions: "${{ steps.meta.outputs.mc_version }}"